<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <style>
        .gallery {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Photo Gallery</h1>
    <div class="photo-gallery">
        <% files.forEach(file => { %>
            <img class="gallery" src="../uploads/<%= file %>" alt="<%= file %>">
        <% }); %>
    </div>
</body>
</html>