<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are your quizes</h1>

    <% for(let quiz of quizes){%>
        <%= quiz.name %>
    <%}%>

    <h5>Create new quiz</h5>
    <form>
        <input type="text" name="quiz-name">
        <button>Create quiz</button>
    </form>
</body>
</html>