<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are your quizes</h1>

    <% for(let quiz of quizes){%>
        <article>
            <%= quiz.name %> Id är: <%= quiz.id %> Question one: <%= quiz.quOne %> Answer one is: <%= quiz.anOne %>
        </article>
    <%}%>

    <h2>Create new quiz</h2>

    <label for="numberOfQuestions">Choose the number of questions:</label>
        <select name="numberOfQuestions" id="numQuestions">
            <option value="five">Five questions</option>
            <option value="ten">Ten questions</option>
            <option value="fifteen">Fifteen questions</option>
        </select>

    <form action="/quizes" method="POST">
        <article>
            <ul>
                <li>
                    <label for="question-one">First question:</label>
                    <input type="text" name="qOne" placeholder="First question">
                    <input type="text" name="aOne" placeholder="First answer"></li>

                <li>
                    <label for="question-two">Second question:</label>
                    <input type="text" name="qTwo" placeholder="Second question">
                    <input type="text" name="aTwo" placeholder="Second answer"></li>

                <li><label for="question-three">Third question:</label>
                    <input type="text" name="qThree" placeholder="Third question">
                    <input type="text" name="aThree" placeholder="Third answer"></li>

                <li><label for="question-four">Fourth question:</label>
                    <input type="text" name="qFour" placeholder="Fourth question">
                    <input type="text" name="aFour" placeholder="Fourth answer"></li>

                <li><label for="question-five">Fifth question:</label>
                    <input type="text" name="qFive" placeholder="Fifth question">
                    <input type="text" name="aFive" placeholder="Fifth answer"></li>
            </ul>
        </article>
        <h3>Quiz name</h3>
        <input type="text" name="quizName" placeholder="quiz-name">
        <button>Create quiz</button>
    </form>

    
    <script>
        /* Scrappar koden nedan
        let number = document.getElementById('numQuestions').value
        let array = []

        let articleValue = document.getElementsByTagName('article')[0]


        switch(number){
            case "five":
            document.getElementsByTagName('article')[0].innerHTML = 
                '<input type="text" name="question-one" placeholder="First question">' +
                '<input type="text" name="question-two" placeholder="Second question">' +
                '<input type="text" name="question-three" placeholder="Third question">' +
                '<input type="text" name="question-four" placeholder="Fourth question">' +
                '<input type="text" name="question-five" placeholder="Fifth question">'
            break;
            case 'ten':
            array.push(document.getElementsByTagName('article')[0].innerHTML = 
                '<input type="text" name="question-one" placeholder="First question">' +
                '<input type="text" name="question-two" placeholder="Second question">' +
                '<input type="text" name="question-three" placeholder="Third question">' +
                '<input type="text" name="question-four" placeholder="Fourth question">' +
                '<input type="text" name="question-five" placeholder="Fifth question">' +
                '<input type="text" name="question-six" placeholder="Sixth question">' +
                '<input type="text" name="question-seven" placeholder="Seventh question">' +
                '<input type="text" name="question-eight" placeholder="Eighth question">' +
                '<input type="text" name="question-nine" placeholder="Ninth question">' +
                '<input type="text" name="question-ten" placeholder="Tenth question">')
            break;
            case 'fifteen':
            array.push(document.getElementsByTagName('article')[0].innerHTML = 
                '<input type="text" name="question-one" placeholder="First question">' +
                '<input type="text" name="question-two" placeholder="Second question">' +
                '<input type="text" name="question-three" placeholder="Third question">' +
                '<input type="text" name="question-four" placeholder="Fourth question">' +
                '<input type="text" name="question-five" placeholder="Fifth question">' +
                '<input type="text" name="question-six" placeholder="Sixth question">' +
                '<input type="text" name="question-seven" placeholder="Seventh question">' +
                '<input type="text" name="question-eight" placeholder="Eighth question">' +
                '<input type="text" name="question-nine" placeholder="Ninth question">' +
                '<input type="text" name="question-ten" placeholder="Tenth question">' +
                '<input type="text" name="question-eleven" placeholder="Eleventh question">' +
                '<input type="text" name="question-twelve" placeholder="Twelfth question">' +
                '<input type="text" name="question-thirteen" placeholder="Thirteenth question">' +
                '<input type="text" name="question-fourteen" placeholder="Fourteenth question">' +
                '<input type="text" name="question-fifteen" placeholder="Fifteenth question">')
        }

        function onchange(){
            window.location.reload();
        }

        document.getElementById('numQuestions').addEventListener('change', onchange)
        console.log(array)

        /*
        document.getElementsByTagName('article')[0].innerHTML = 
        '<input type="text" name="question-one" placeholder="First question">' +
        '<input type="text" name="question-two" placeholder="Second question">' +
        '<input type="text" name="question-three" placeholder="Third question">' +
        '<input type="text" name="question-four" placeholder="Fourth question">' +
        '<input type="text" name="question-five" placeholder="Fifth question">' +
        '<input type="text" name="question-six" placeholder="Sixth question">' +
        '<input type="text" name="question-seven" placeholder="Seventh question">' +
        '<input type="text" name="question-eight" placeholder="Eighth question">' +
        '<input type="text" name="question-nine" placeholder="Ninth question">' +
        '<input type="text" name="question-ten" placeholder="Tenth question">' +
        '<input type="text" name="question-eleven" placeholder="Eleventh question">' +
        '<input type="text" name="question-twelve" placeholder="Twelfth question">' +
        '<input type="text" name="question-thirteen" placeholder="Thirteenth question">' +
        '<input type="text" name="question-fourteen" placeholder="Fourteenth question">' +
        '<input type="text" name="question-fifteen" placeholder="Fifteenth question">'
        */
    </script>

</body>
</html>